*{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
}

nav{

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #030e12;

}

a{
    color: #ffff;
    text-decoration: none;

}

.logo{

    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    transition: 0.2s all ease-in-out;

}

.logo:hover, .nav-links li:hover{

    transform: scale(1.1);
    

}


.nav-links{

    display: flex;
    justify-content: space-around;
    width: 30%;
    letter-spacing: 3px;
    font-size: 14px;


}

.nav-links a:hover{
    color: #fcde67;
}

.nav-links li{
    transition: 0.2s all ease-in-out;

}

.hero{

    background-color: #fcde67;
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.hero .herodesign{

    width: 55%;
    height: auto;
    position: relative;
    top: -2em;
    right: 4em;
}

.hero h1{

    padding: 4em;
    font-family: 'Roboto Mono', monospace;

}

.quotes .quote{

    position: absolute;
    top: 20em;
    left: 8em;
    
    
    padding: 4em;
}

.quote{

    transition: 0.2s all ease-in-out;
}

.quote:hover{

    transform: scale(1.1);
}


@media only screen and (max-width: 900px)
{

    .hero .herodesign{

        display: none;
    }

    h1{
        align-items: center;
    }
    .hero{

    
        display: flex;
        justify-content: space-around;
        height: 100vh;
    }

    .nav-links{

        display: flex;
        justify-content: space-around;
        width: 40%;
        letter-spacing: 3px;
        font-size: 10px;
    }

    .quotes .quote{

        position: absolute;
        width: 75%;
        padding: 4em;
        right: 10em;
    }

    .logo{

        font-size: 16px;
    }


}


@media only screen and (max-width: 600px)
{

    .hero .herodesign{

        display: none;
    }

    h1{
        align-items: center;
        font-size: 20px;
    }
    .hero{

    
        display: flex;
        justify-content: space-around;
        height: 100vh;
    }

    .nav-links{

        display: flex;
        justify-content: space-around;
        width: 40%;
        letter-spacing: 3px;
        font-size: 8px;
    }

    .quotes .quote{

        position: absolute;
        padding: 1em;
        top: 15em;
        
        
    }

    .quotes{

        display: flex;
    }

    .logo{

        font-size: 16px;
    }


}

@media only screen and (max-width: 495px)
{

    .hero .herodesign{

        display: none;
    }

    h1{
        align-items: center;
        font-size: 20px;
    }
    .hero{

    
        display: flex;
        justify-content: space-around;
        height: 100vh;
    }

    .nav-links{

        display: flex;
        justify-content: space-around;
        width: 47%;
        letter-spacing: 3px;
        font-size: 8px;
    }

    .quotes .quote{

        position: absolute;
        padding: 0 0 0 0;
        top: 15em;
        left: 6em;
        
        
    }

    .quotes{

        display: flex;
    }

    .logo{

        font-size: 10px;
    }


}


@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.herodesign{

    animation: fadeIn 2s ease;
}

h1{

    animation: fadeIn 4s ease;
}

.quote{

    animation: fadeIn 6s ease;
}